h2 {
    text-align: center;
}

.tit {
    font-size: 30px;
    margin-bottom: 40px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; appearance: textfield;}

.tit-log {
    margin: auto;
}

.content {
    width: 100%;
}

.new-product {
    width: 50vw;
    margin: 60px auto;
    padding: 15px;
    filter: drop-shadow(10px 10px 2px var(--border, #76b9f8));
}

.product-form {
    margin: auto;
    width: 85%;
}

.name {
    margin-top: 40px;
    width: 100%;
    font-size: 20px;
}

.image-uploader {
    margin: 70px auto;
    width: 80%;
    min-height: 100px;
    border: 4px var(--border) dashed;
    padding: 20px;
    padding-top: 60px;
    font-size: 30px;
    text-align: center;
}

.other {
    display: flex;
}

.filter-selector, .text-areas {
    flex: 1 0;
    padding: 5px;
}

.price, .tags{
    font-size: 20px;
    width: 90%;
}

.description-label {
    display: block;
    margin: 40px 0;
}

#description {
    font-size: 20px;
    width: 90%;
    background-color: #B0D9B1;
    height: 100px;
    resize: none;
}

#color, #category {
    background-color: #79AC78;
    font-size: 20px;
    border: none;
    width: 45%;
}

#color option:hover, #category  option:checked {
    box-shadow: 0 0 10px 100px #B0D9B1 inset;
}

#color:focus-visible, #category:focus-visible { 
    outline: none;
}

.filter-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.filter-box {
    font-size: 20px;
    background-color: #79AC78;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    margin: 5px;
}

.filter-box:hover {
    animation: shake .1s infinite alternate;
    background-color: var(--others);
    transition: .2s background-color ease;
}

.submit {
    margin: 70px auto;
    width: 70%;
    height: 100px;
}

.submit > span {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 33px auto;
}

@keyframes shake {
    0% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(-4deg);
    }
}