.title {
    font-size: 35px;
}

.items-container {
    width: 70%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.item {
    display: flex;
    height: 380px;
}

.item-img {
    width: 40%;
    object-fit: contain;
    margin: 20px;
}

.item-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}

.item-description {
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}

.item-price {
    text-align: right;
    margin-right: 20px;
}

.buy-button {
    width: 90%;
    height: 100px;
    margin: 30px auto;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
}

.buy-button > span {
    margin-top: 26px;
    display: -webkit-inline-box;
    display: inline-box;
}