h1 {
    font-size: 30px;
}

header {
    height: 100px;
    display: flex;
}

.tit-log {
    display: flex;
    position: absolute;
    width: 400px;
}

.logo {
    width: 90px;
    filter: drop-shadow(5px 5px 3px #e67349)
}

.get-out {
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border: 1px #000 solid;

    margin: 30px auto;

    margin-bottom: 30px;
}

.get-out__text {
    font-size: 30px;
}

#input-box {
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    font-size: 20px;
    padding-left: 50px; 
    margin: 0 auto;
}

#input-box > span {
    position: absolute;
    display: block;
    left: 5px;
    top: 10px;
    z-index: 9; 
}

#search-bar {
    width: 300px;
    height: 50px;
    display: block;
    float: none;
}

.slideshows-org {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 40fr 40fr;
    grid-template-rows: repeat(3, 300px);
}

.slideshow {
    padding: 15px;
    border-radius: 10px;
    width: 700px;
    height: fit-content;
    border: 1px var(--borders, #f67b50) solid;
    font-size: 20px;
}

.sld1 > div > p {
    width: 300px;
}

.sld2 > div > p {
    width: 450px;
}

.scont > img {
    height: 250px;
    transition: transform .3s ease;
}

.scont > img:hover {
    transform: scale(110%);
}

.scont {
    display: flex;
}

.sld1 {
    font-size: 25px;
    margin: auto;
    padding-bottom: 20px;
    grid-row: 1 / 2;
}

.sld2 {
    font-size: 25px;
    margin: auto;
    grid-column-start: 2;
    grid-row: 2 / 3;
}