h1 {
    font-size: 30px;
}

header {
    height: 100px;
    display: flex;
}

.tit-log {
    display: flex;
    width: 400px;
}

.logo {
    width: 90px;
    filter: drop-shadow(5px 5px 3px #a5a5a5)
}

.get-out {
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border: 1px #000 solid;

    margin: 30px auto;

    margin-bottom: 30px;
}

.get-out__text {
    font-size: 30px;
}

#input-box {
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    font-size: 20px;
    padding-left: 50px;
    margin: 15px;
}

#input-box > span {
    position: absolute;
    display: block;
    left: 5px;
    top: 10px;
    z-index: 9;
}

#search-bar {
    width: 700px;
    height: 50px;
    display: block;
    float: none;
}

#right-icons {
    display: block;
    margin: 30px auto 10px 300px;
}

.slideshows {
    background-color: antiquewhite;
    margin: 30px auto 30px auto;

    width: 70vw;
    height: fit-content;
}

.promotion {
    padding-top: 10px;
    height: 360px;
    width: 240px;
}

.promotion > p {
    margin: 10px;
}

.promotion > img {
    width: 240px;
}
