@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.page {
    width: min-content;
    margin: auto;
    margin-top: 35px;
    animation-name: fadein;
    animation-duration: 1s;
}

.tit-log {
    margin: auto;
    display: flex;
    width: 400px;
}

.logo {
    width: 90px;
    filter: drop-shadow(5px 5px 3px #a5a5a5)
}

.login-chart {
    width: 400px;
    height: fit-content;
    margin: 10px auto 20px auto;
    padding: 10px;

    filter: drop-shadow(10px 10px 2px var(--border, #76b9f8));
}

.login-chart__form {
    width: 80%;
    margin: auto;
}

#login-chart__form__email, #login-chart__form__password {
    height: 40px;
    width: 100%;

    font-size: 17px;

    margin-bottom: 30px;
}

.login-chart__button-login {
    width: 80%;
    height: 70px;
    border-radius: 5px;

    margin: auto;

    margin-bottom: 30px;
}

.login-chart__button-login__text {
    font-size: 30px;
}

.no-account {
    width: 360px;
    height: 100px;

    margin: auto;
    padding: 10px 30px;

    filter: drop-shadow(10px 10px 2px var(--border, #76b9f8));
}

.no-account__text {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    transform: translateY(-50%);
}

.translate {
    border-radius: 20px;
    background-color: #76b9f8;
}

@keyframes fadein {
    0% {
        transform:translate(20px, -20px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 100;
    }
}
