ul {
    padding-left: 30%;
}

.list > div > ul > li {
    margin-top: 5px;
    font-size: 20px;
}

li {
    list-style-type: georgian;
}

li:hover {
    background-color: #b8b5c3;
}

.page {
    display : flex;
    width: fit-content;
}

hr.solid {
    border-top: 3px dashed var(--border);
}

.categories {
    width: 20vw;
    background-color: #eae6f7;
}

.product-list {
    margin: 20px 3vw;
    
    height: fit-content;
    column-gap: 12.5%;
    row-gap: 20px;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(3, 25%);
}

.product {
    height: fit-content;
    width: 100%;
    background-color: var(--frames);

    transition: .2s width ease;
}

.product:hover {
    width: 115%;
}

.product:hover > .product-title {
    max-height: 102px;
}

.product-title {
    font-size: 30px;
    margin: 10px;
    max-height: 34.5px;
    overflow: hidden;

    transition: .2s max-height ease;
}

.product-price {
    position: relative;
    font-size: 22px;
    text-align: right;
    right: 20px;
}

.product-img {
    display: block;
    max-height: calc((70vw * 30 / 100) - 123.8px);;
    max-width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.type {
    overflow: hidden;
    width: 100%;
}

.type > span, .color > span {
    padding-left: 20%;
    font-size: 25px;
    width: 100%;
    display: block;
    font-weight:bold;
}

.list {
    padding: 0;
    overflow: hidden;
}

.filters {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10px;
}

.filter-text {
    width: 80%;
    margin: 10%;
    margin-bottom: 10px;
    background-color: #d2eff7;
}

.filter-box {
    background-color: var(--frames);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

.filter-box:hover {
    animation: shake .1s infinite alternate;
    background-color: var(--others);
    transition: .2s background-color ease;
}

#bar {
    width: 700px;
    height: 50px;
    display: block;
    float: none;
}

@keyframes shake {
    0% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(-4deg);
    }
}