ul {
    padding-left: 30%;
}

li {
    list-style-type: none;
    
}

.page {
    display : flex;
    width: fit-content;
}

.categories {
    width: 20vw;
}

.product-list {
    margin-top: 20px;
    height: fit-content;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(3, 25%);
}

.product {
    height: calc(70vw * 25 / 100);
}

.type {
    overflow: hidden;
    width: 100%;
}

.type > span, .color > span {
    padding-left: 20%;
    font-size: 25px;
    width: 100%;
    display: block;
    font-weight:bold;
}

.list {
    padding: 0;
    overflow: hidden;
}
