.page {
    display : flex;
    width: fit-content;
}

.categories {
    width: 20vw;
}

.product-list {
    margin-top: 20px;
    height: fit-content;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(3, 25%);
}

.product {
    height: calc(70vw * 25 / 100);
}