* {
    font-family: 'Roboto', sans-serif;
    --background-button: #FBC490;
    --frames: #FBAA60;
    --border: #F67B50;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.title {
    margin-bottom: 40px;
}

.sign-chart {
    width: 400px;
    height: fit-content;
    margin: 100px auto 20px auto;

    border: 4px solid var(--border, #F67B50);
    border-radius: 10px;
    overflow: hidden;
}

.sign-chart__form, .verification-chart__form {
    width: 80%;
    margin: auto;
}

.text-space {
    width: 100%;
    height: 40px;

    font-size: 17px;

    margin-bottom: 30px;
}

.sign-chart__button-sign {
    width: 80%;
    height: 70px;
    border-radius: 10px;

    margin: 30px auto;

    margin-bottom: 30px;
}

.verification-chart__button-verify__back {
    transform: translateX(20px);
    width: 30%;
    height: 40px;
    border-radius: 10px;

    margin: 20px;
} 
.verification-chart__button-verify__verify {
    transform: translateX(60px);

    width: 30%;
    height: 40px;
    border-radius: 10px;

    margin: 20px;
}

.verification-chart__button-verify__back:hover {
    transform: scale(107%) translateX(20px);
}

.verification-chart__button-verify__verify:hover {
    transform: scale(107%) translateX(60px);
}

.button_ver {
    user-select: none;
    background-color: var(--background-button, #FBC490);

    transition: .2s transform ease, .2s background-color ease;
}

.button_ver:hover {
    cursor: pointer;
}

.sign-chart__button-sign__text {
    font-size: 30px;
}

.v-chart__button-v__text {
    font-size: 20px;
}

.verify-flex {
    display: flex;
}
