h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
}

.save-button {
    margin: 30px auto;
    width: 200px;
    height: 100px;

    filter: drop-shadow(5px 5px 3px #0003);
    display: flow-root;
}

.save-button:hover {
    cursor: pointer;
}

.users-table {
    display: grid;
    margin: 30px auto;
    width: fit-content;
    grid-template-columns: 15vw 15vw 50px 30vw;
    border: 2px solid var(--border);
}

.user, .label { 
    min-height: 70px;
    width: 100%;
    max-width: 100%;
    padding-top: 20px;
    text-align: center;

    border: 2px solid var(--border);
    word-wrap: break-word;
}

.label {
    padding-top: 10px;
    height: 35px;
    min-height: 0px;

    background-color: var(--frames);
}

.actions {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 90px;
    padding: 0;
}